{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row p-4  mx-auto container-fluid">

    <div class="col-4">
        <img src="{{ guest.image.url }}" alt="placeholder" class="img-fluid">
    </div>


    <div class="col-8">
        <div class="col px-0">
            <div class="row">
                <!-- Show name and name_addon -->
                <div class="col-auto">
                    <h4 class="mb-0">{{ guest.first_name }}</h4>
                    <!-- Show name addon if it exists -->
                    {% if guest.name_addon %}
                    <span>{{ guest.name_addon }}</span>
                    {% else %}
                    <span><br></span>
                    {% endif %}                                     
                </div>
                <!-- Show gender depending on the database entry -->
                <div class="col px-0">
                    {% if guest.get_gender_display == "Male" %}
                    <span class="fa-solid fa-mars fa-lg icon-fa"></span>
                    {% elif guest.get_gender_display == "Female" %}
                    <span class="fa-solid fa-venus fa-lg icon-fa"></span>
                    {% else %} 
                    <spanclass="fa-solid fa-genderless fa-lg icon-fa"></span>
                    {% endif %}
                </div>
            </div>
            <div>
                {{ guest.customer_id.address }}<br />
                {{ guest.customer_id.first_name }}<br />
                {{ guest.customer_id.last_name }}<br />
                {{ guest.customer_id.phone }}<br />
                {{ guest.customer_id.information }}<br />
                <span>Go to customer profil</span>
            </div>
    </div>

</div>

{% endblock content %}