{% extends "base.html" %}
{% load static %}

{% block content %}

    {% if user.is_authenticated %}

        <!-- Displaying django messages -->
        <div class="container">
            <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                    <div class="alert alert-dismissible fade show alert-box" id="msg" role="alert">
                        <div class="my-1">{{ message | safe }}</div>
                        <button type="button" class="btn-close alert-box-btn" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>

        <!-- Menu bubble -->
        <div class="menu-bubble d-lg-none" id="sidebar-toggle">
            <span class="fa-solid fa-bars fa-2x icon-fa" ></span>
        </div>
    

        <div class="p-4 mx-auto container-fluid">
            <div class="row profile rounded p-3">
                <div class="col-4">
                    <div>
                    {% if guest.image %}
                        <img src="{{ guest.image.url }}" alt="{{ guest.first_name }}-{{ guest.name_addon }}" class="img-fluid">
                    {% else %}
                        <img src={% static "/images/anonymdog.jpg" %} alt="No image was found" class="img-fluid">
                    {% endif %}
                    </div>
                    <div class="pt-3">
                        <a class="btn btn-primary btn-md active" role="button" href="/guests/update_guest/{{ guest.id }}">
                            Edit guest profile
                        </a>
                    </div>
                    <div class="pt-3">
                        <a class="btn btn-danger btn-ms active modal-trigger" role="button" data-toggle="modal" data-target="#delete-modal-{{ guest.id }}">
                            Delete profile
                        </a>
                    </div>
                </div>


                <div class="col-8">
                    <div class="col px-0">
                        <div class="row mb-3">
                            <!-- Show name and name_addon -->
                            <div class="col-auto">
                                <h1 class="mb-0">{{ guest.first_name }}</h1>
                                <!-- Show name addon if it exists -->
                                {% if guest.name_addon %}
                                <span>({{ guest.name_addon }})</span>
                                {% else %}
                                <span><br></span>
                                {% endif %}                                     
                            </div>
                            <!-- Show gender depending on the database entry -->
                            <div class="col px-0">
                                {% if guest.get_gender_display == "Male" %}
                                <span class="fa-solid fa-mars fa-lg icon-fa"></span>
                                {% elif guest.get_gender_display == "Female" %}
                                <span class="fa-solid fa-venus fa-lg icon-fa"></span>
                                {% else %} 
                                <spanclass="fa-solid fa-genderless fa-lg icon-fa"></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="mb-3">
                            <h2>Owner Information</h2>
                            <span>First name {{ guest.customer_id.first_name }}</span><br />
                            <span>Last name: {{ guest.customer_id.last_name }}<br />
                            <span>Address: {{ guest.customer_id.address }}</span><br />
                            <span>Phone: {{ guest.customer_id.phone }}<br />
                            <span>Information: {{ guest.customer_id.information }}<br />
                        </div>
                        <div class="mb-3">
                            {% if guest.food %}
                                <h2>Food Times</h2>
                                <p>Food has to be served at these times:</p>
                                {{ guest.food_time_1 }}<br />
                                    {% if guest.food_time_2 != None %}
                                        {{ guest.food_time_2 }}<br />
                                    {% endif %}
                                    {% if guest.food_time_3 != None %}
                                        {{ guest.food_time_3 }}<br />
                                    {% endif %}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {% if guest.medication %}
                                <h2>Medication Times</h2>
                                <p>Medication has to be applied at these times:</p>
                                {{ guest.medication_time_1 }}<br />
                                {% if guest.medication_time_2 != None %}
                                    {{ guest.medication_time_2 }}<br />
                                {% endif %}
                                {% if guest.medication_time_3 != None %}
                                    {{ guest.medication_time_3 }}<br />
                                {% endif %}
                        {% endif %}
                        </div>
                        
                    </div>
                </div>

            <!-- Modal for confirmation to delete profile -->
            <div class="modal fade" id="delete-modal-{{ guest.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ guest.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="DeleteModalTitle{{ guest.id }}">
                                Delete profile of {{ guest.first_name }} 
                                {% if guest.name_addon %}
                                    <span>{{ guest.name_addon }}</span>
                                {% else %}
                                    <span><br></span>
                                {% endif %}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'guest_details_temp' guest.slug %}" id="delete-form-{{ guest.id }}">
                                {% csrf_token %}
                                <input type="hidden" name="delete" value="true">
                                <div class="profile-check-out text-center rounded-bottom p-1 pointer" onclick="document.getElementById('delete-form-{{ guest.id }}').submit();">
                                    Delete profile
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row pt-4 mx-auto container-fluid">
            <h2>Reports mentioned:</h2>
            <div>
                {% if guest_reports %}
                    {% for report in guest_reports %}
                        <div class="my-2 list-item">
                            <div class="row profile rounded">
                                <div class="row p-2">
                                    <div class="col-9 mb-2">
                                        <b>{{report.report_date}}</b>
                                        <br>
                                        {{report.report_text}}
                                    </div>
                                    {% if report.guests.all|length > 0 %}
                                    <div>
                                        <div class="mb-2">
                                            <b>Guests:</b>
                                        </div>
                                        {% for guest in report.guests.all %}
                                            <a href="{% url 'guest_details_temp' guest.slug %}" class="text-decoration-none">    
                                                <span class="report-guest p-1">{{ guest.first_name }}{% if guest.last_name %} {{ guest.last_name }}{% endif %}{% if guest.name_addon %} ({{ guest.name_addon }}){% endif %}</span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <div class="m-2 text-end">
                                        <a  href="{% url 'report_details_temp' report.id %}" class="report-link">
                                            <span>Report details</span>
                                        </a>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    <span>No Reports for this guest available</span>
                {% endif %}

            </div>
        </div>


    {% endif %}



    
{% endblock content %}