{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Header -->
<header>
    {% block header_nav %}
      {% include "guests/components/header_list.html" %}
    {% endblock header_nav %}
</header>

<!-- Render checked-in guests -->
<div class="row pt-4 mx-auto container-fluid list checked-in">
    <h1>Checked-In</h1>
    {% for guest in guests_checked_in %}
        {% with present=guest.presence_set.first %}
            <!-- Guest profile -->
            <div class="col-12 col-md-6 my-2 list-item">
                <div class="profile rounded" id="{{ guest.first_name }}">
                    <div class="row no-gutters p-1">

                        <!-- Profile image -->    
                        <div class="col-auto">
                            <!-- Change to static image path later -->
                            
                            {% if guest.image %}
                                <img src="{{ guest.image.url }}" alt="{{ guest.first_name }}-{{ guest.name_addon }}" class="img-prev-sm">
                            {% else %}
                                <img src={% static "/images/anonymdog.jpg" %} alt="No image was found" class="img-prev-sm">
                            {% endif %}
                        </div>

                        <!-- Profile name & gender -->
                        <div class="col px-0">
                            <div class="row">
                                <!-- Show name and name_addon -->
                                <div class="col-auto">
                                    <h4 class="item-name mb-0">{{ guest.first_name }}</h4>
                                    <!-- Show name addon if it exists -->
                                    {% if guest.name_addon %}
                                    <span>{{ guest.name_addon }}</span>
                                    {% else %}
                                    <span><br></span>
                                    {% endif %}                                     
                                </div>
                                <!-- Show gender depending on the database entry -->
                                <div class="col px-0">
                                    {% if guest.get_gender_display == "Male" %}
                                    <span class="fa-solid fa-mars fa-lg icon-fa"></span>
                                    {% elif guest.get_gender_display == "Female" %}
                                    <span class="fa-solid fa-venus fa-lg icon-fa"></span>
                                    {% else %} 
                                    <spanclass="fa-solid fa-genderless fa-lg icon-fa"></span>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Profile alerts -->
                            <div class="row gx-2">
                                <!-- Alert medication --> 
                                {% if guest.medication %}
                                <div class="col-auto text-center">
                                    <span class="fa-solid fa-pills fa-lg icon-fa text-danger"></span>
                                </div>
                                {% endif %}
                                <!-- Alert food --> 
                                {% if guest.food %}
                                <div class="col-auto text-center">
                                    <span class="fa-solid fa-utensils fa-lg icon-fa text-danger"></span>
                                </div>
                                {% endif %}
                                <!-- Alert report --> 
                                <div class="col-auto text-center">
                                    <span class="fa-solid fa-pen fa-lg icon-fa text-primary"></span>
                                </div>
                                <!-- Alert pickup --> 
                                <div class="col-auto text-center">
                                    <span class="fa-solid fa-user fa-lg icon-fa text-primary"></span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Profile expand options -->
                        <div class="col-auto">
                            <span class="fa-solid fa-chevron-down fa-lg icon-fa mx-2"></span>
                        </div>
                    </div>
                    <div class="profil-options-dropout visually-hidden">
                        <div class="profil-option text-center p-1 border-dark border-bottom mt-1">Undo Check-In</div>
                        <a href="{% url "guest_details" guest.slug %}" class="text-decoration-none">
                            <div class="profil-option text-center p-1 border-dark border-bottom">
                            Open file
                            </div>
                        </a>
                        <div class="profil-check-out text-center rounded-bottom p-1 modal-trigger" data-toggle="modal" data-target="#checkout-modal-{{ guest.id }}">
                            Check-Out
                        </div>

                        <!-- Modal for check-out confirmation -->
                        <div class="modal fade" id="checkout-modal-{{ guest.id }}" tabindex="-1" role="dialog" aria-labelledby="checkoutModal{{ guest.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="checkoutModalTitle{{ guest.id }}">
                                        Check-Out {{ guest.first_name }} 
                                        {% if guest.name_addon %}
                                        <span>{{ guest.name_addon }}</span>
                                        {% else %}
                                        <span><br></span>
                                        {% endif %}  
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="{% url 'home' %}" id="checkout-form-{{ guest.id }}">
                                            {% csrf_token %}
                                            {{ check_out_form.as_p }}
                                            <input type="hidden" name="guest" value="{{ guest.id }}">
                                            <input type="hidden" name="checkout" value="true">
                                        </form>
                                        <div class="profil-check-out text-center rounded-bottom p-1" onclick="document.getElementById('checkout-form-{{ guest.id }}').submit();">
                                            Check-Out
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Stop Check-Out</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>             
                </div>
            </div>
        {% endwith %}
    {% endfor %}
</div>

<!-- Render checked-out guests -->
<div class="row pt-4 mx-auto container-fluid list checked-out">
    <h1>Checked-Out</h1>
    {% for guest in guests_checked_out %}
        {% with present=guest.presence_set.first %}
            <!-- Guest profile -->
            <div class="col-12 col-md-6 my-2 list-item">
                <div class="profile rounded" id="{{ guest.first_name }}">
                    <div class="row no-gutters p-1">

                        <!-- Profile image -->    
                        <div class="col-auto checked-out">
                            <!-- Change to static image path later -->
                            
                            {% if guest.image %}
                                <img src="{{ guest.image.url }}" alt="{{ guest.first_name }}-{{ guest.name_addon }}" class="img-prev-sm">
                            {% else %}
                                <img src={% static "/images/anonymdog.jpg" %} alt="No image was found" class="img-prev-sm">
                            {% endif %}
                        </div>

                        <!-- Profile name & gender -->
                        <div class="col px-0">
                            <div class="row">
                                <!-- Show name and name_addon -->
                                <div class="col-auto">
                                    <h4 class="item-name mb-0">{{ guest.first_name }}</h4>
                                    <!-- Show name addon if it exists -->
                                    {% if guest.name_addon %}
                                    <span>{{ guest.name_addon }}</span>
                                    {% else %}
                                    <span><br></span>
                                    {% endif %}                                     
                                </div>
                                <!-- Show gender depending on the database entry -->
                                <div class="col px-0">
                                    {% if guest.get_gender_display == "Male" %}
                                    <span class="fa-solid fa-mars fa-lg icon-fa"></span>
                                    {% elif guest.get_gender_display == "Female" %}
                                    <span class="fa-solid fa-venus fa-lg icon-fa"></span>
                                    {% else %} 
                                    <spanclass="fa-solid fa-genderless fa-lg icon-fa"></span>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Profile alerts -->
                            <div class="row gx-2 checked-out">
                                <!-- Alert medication --> 
                                {% if guest.medication %}
                                <div class="col-auto text-center">
                                    <span class="fa-solid fa-pills fa-lg icon-fa text-danger"></span>
                                </div>
                                {% endif %}
                                <!-- Alert food --> 
                                {% if guest.food %}
                                <div class="col-auto text-center">
                                    <span class="fa-solid fa-utensils fa-lg icon-fa text-danger"></span>
                                </div>
                                {% endif %}
                                <!-- Alert report --> 
                                <div class="col-auto text-center">
                                    <span class="fa-solid fa-pen fa-lg icon-fa text-primary"></span>
                                </div>
                                <!-- Alert pickup --> 
                                <div class="col-auto text-center">
                                    <span class="fa-solid fa-user fa-lg icon-fa text-primary"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Profile expand options -->
                        <div class="col-auto">
                            <span class="fa-solid fa-chevron-down fa-lg icon-fa mx-2"></span>
                        </div>
                    </div>
                    <div class="profil-options-dropout visually-hidden">
                        <div class="profil-option text-center p-1 border-dark border-bottom mt-1">Undo Check-Out</div>
                        <a href="{% url "guest_details" guest.slug %}" class="text-decoration-none">
                            <div class="profil-option text-center p-1 rounded-bottom">
                            Open file
                            </div>
                        </a>
                    </div>             
                </div>
            </div>
        {% endwith %}
    {% endfor %}
</div>

<!-- Render not checked-in guests -->
<div class="row pt-4 mx-auto container-fluid list not-checked-in">
    <h1>Not Checked-In</h1>
    {% for guest in guests_not_checked_in %}
        {% with present=guest.presence_set.first %}
            <!-- Guest profile -->
            <div class="col-12 col-md-6 my-2 list-item">
                <div class="profile rounded" id="{{ guest.first_name }}">
                    <div class="row no-gutters p-1">

                        <!-- Profile image -->    
                        <div class="col-auto">
                            <!-- Change to static image path later -->
                            
                            {% if guest.image %}
                                <img src="{{ guest.image.url }}" alt="{{ guest.first_name }}-{{ guest.name_addon }}" class="img-prev-sm">
                            {% else %}
                                <img src={% static "/images/anonymdog.jpg" %} alt="No image was found" class="img-prev-sm">
                            {% endif %}
                        </div>

                        <!-- Profile name & gender -->
                        <div class="col px-0">
                            <div class="row">
                                <!-- Show name and name_addon -->
                                <div class="col-auto">
                                    <h4 class="item-name mb-0">{{ guest.first_name }}</h4>
                                    <!-- Show name addon if it exists -->
                                    {% if guest.name_addon %}
                                    <span>{{ guest.name_addon }}</span>
                                    {% else %}
                                    <span><br></span>
                                    {% endif %}                                     
                                </div>
                                <!-- Show gender depending on the database entry -->
                                <div class="col px-0">
                                    {% if guest.get_gender_display == "Male" %}
                                    <span class="fa-solid fa-mars fa-lg icon-fa"></span>
                                    {% elif guest.get_gender_display == "Female" %}
                                    <span class="fa-solid fa-venus fa-lg icon-fa"></span>
                                    {% else %} 
                                    <spanclass="fa-solid fa-genderless fa-lg icon-fa"></span>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Profile alerts -->
                            <div class="row gx-2 checked-out">
                                <!-- Alert medication --> 
                                {% if guest.medication %}
                                <div class="col-auto text-center">
                                    <span class="fa-solid fa-pills fa-lg icon-fa text-danger"></span>
                                </div>
                                {% endif %}
                                <!-- Alert food --> 
                                {% if guest.food %}
                                <div class="col-auto text-center">
                                    <span class="fa-solid fa-utensils fa-lg icon-fa text-danger"></span>
                                </div>
                                {% endif %}
                                <!-- Alert report --> 
                                <div class="col-auto text-center">
                                    <span class="fa-solid fa-pen fa-lg icon-fa text-primary"></span>
                                </div>
                                <!-- Alert pickup --> 
                                <div class="col-auto text-center">
                                    <span class="fa-solid fa-user fa-lg icon-fa text-primary"></span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Profile expand options -->
                        <div class="col-auto">
                            <span class="fa-solid fa-chevron-down fa-lg icon-fa mx-2"></span>
                        </div>
                    </div>
                    
                    <div class="profil-options-dropout visually-hidden">
                        <a href="{% url "guest_details" guest.slug %}" class="text-decoration-none">
                            <div class="profil-option text-center p-1 border-dark border-bottom mt-1">Open file</div>
                        </a>
                        <div class="profil-check-in text-center rounded-bottom p-1 modal-trigger" data-toggle="modal" data-target="#checkin-modal-{{ guest.id }}">
                            Check-In
                        </div>

                        <!-- Modal for check-in confirmation -->
                        <div class="modal fade" id="checkin-modal-{{ guest.id }}" tabindex="-1" role="dialog" aria-labelledby="checkinModal{{ guest.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="checkinModalTitle{{ guest.id }}">
                                        Check-In {{ guest.first_name }} 
                                        {% if guest.name_addon %}
                                        <span>{{ guest.name_addon }}</span>
                                        {% else %}
                                        <span><br></span>
                                        {% endif %}  
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="{% url 'home' %}" id="checkin-form-{{ guest.id }}">
                                            {% csrf_token %}
                                            {{ check_in_form.as_p }}
                                            <input type="hidden" name="guest" value="{{ guest.id }}">
                                            <input type="hidden" name="checkin" value="true">
                                        </form>
                                        <div class="profil-check-in text-center rounded-bottom p-1" onclick="document.getElementById('checkin-form-{{ guest.id }}').submit();">
                                            Check-In
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Stop Check-In</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                      
                </div>
            </div>
        {% endwith %}
    {% endfor %}
</div>

<div class="spacer"></div>

<div class="guest-tools">
    <!-- Check-In button -->
    <div class="row gx-0">
        <div class="col-2"></div>
            <div class="col-lg-10 text-center">
                <div class="button-box">
                    <button type="button" class="btn btn-primary btn-90">Check-In</button>
                </div>
            </div>
        <div class="col-2"></div>
    </div>

    <!-- Gender selector footer -->
    <div class="row text-center bottom-box gx-0">
        <div class="col-lg-2 d-lg-block"></div>
        <div class="col-12 col-lg-10 row align-items-center">
            <div class="col-5">
                <span class="fa-solid fa-venus fa-2x icon-fa"></span>
            </div>
            <div class="col-2">
                <span>All</span>
                <br>
                <span>(32)</span>
            </div>
            <div class="col-5">
                <span class="fa-solid fa-mars fa-2x icon-fa"></span>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


