main {
    background-color: #D9D9D9;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
}

.sidebar {
    background-color: #39489f;
    color: white;
    font-weight: bold;
    font-size: larger;
    line-height: 2;
    padding-top: 75px;
}

#sidebarToggle {
    cursor: pointer;
}

#sidebar-menu {
    padding-left: 0;
}

.side-nav {
    width: 140px;
}

.icon-width {
    width: 35px;
}

.header-menu {
    background-color: #EDEDED;
    align-content: center;
    height: 65px;
}


.main-content {
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
}


.content-box {
    background-color: white;
}

.content-w90 {
    width: 90%;
    margin: 20px 0px 20px 0px;
    align-self: center;
}

.content-item {
    background-color: white;
}

.img-prev-md {
    width: 150px;
    height: 150px;
}

.img-prev-sm {
    width: 100px;
    height: 100px;
}

.icon-fa {
    vertical-align: middle;
}

.bottom-box {
    height: 50px;
    background-color: #39489f;
    color: white;
}

.button-box {
    display: grid;
    place-items: center;
}

.btn-90 {
    width: 90%;
    margin: 5px 0px 5px 0px;
}


.date-selector-container {
    max-width: 200px;
    position: relative;
    display: flex;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
}

.date-selector {
    background-color: #ffffff;
    border: 1px solid #ced4da;
}

.date-selector-icon{
    pointer-events: none;
    position: absolute;
    z-index: 2;
    top: 3px;
    right: 20px;
}

.profil-options-dropout {

}

.profil-option {
    background-color: #a8a8a8;
    color: white;
}
.profil-option:hover {
    background-color: #797979;
    color: white;
}
.profil-check-out {
    background-color: #db4545;
    color: white;
}
.profil-check-out:hover {
    background-color: #af3131;
    color: white;
}