{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cityfur - Dog Day Care</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="Cityfur - Dog Day Care">
    <meta name="keywords" content="Cityfur, Dog Day Care, Dog Day Care Management System, Dog">

    
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
</head>

    <div>
        <h1>405 Method Not Allowed</h1>
        <h2>The method used is not allowed at this point.</h2>
        <p>You will be redirected to the home page in 3 seconds.</p>
    </div>

<script src="{% static 'js/redirect.js' %}"></script>
</body>

</html>