{% load static %}

{% load i18n %}
{% load account %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cityfur - Dog Day Care</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="Cityfur - Dog Day Care">
    <meta name="keywords" content="Cityfur, Dog Day Care, Dog Day Care Management System, Dog">

    
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">

    <!-- Bootstrap CSS -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap Datepicker CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Bootstrap Datepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Custom JS -->
    <script src="{% static 'js/sidebar_toggle.js' %}"></script>
    <script src="{% static 'js/scrips.js' %}"></script>
</head>

<body>

    {% if user.is_authenticated == False %}

        <!-- Displaying django messages -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                        <div class="alert alert-dismissible fade show alert-box" id="msg" role="alert">
                            <div class="my-1">{{ message | safe }}</div>
                            <button type="button" class="btn-close alert-box-btn" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Welcome message -->
        <div class="welcome-message mt-5">
            <div class="text-center">
                <a href="/"><image src="{% static 'images/dog-logo.webp' %}" alt="Dog" class="img-fluid"></a>
                <h1>Cityfur - Dog Day Care Management System...</h1>
                <p>Welcome to the Cityfur - Dog Day Care Management System. Please login or register to access the system.</p>
            </div>
            <!-- Nav -->
            <div class="text-center mt-4">
                <div class="mb-2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#introductionModal">Introduction</button>
                </div>
                <div>
                    <a class="btn btn-primary {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">
                        Login
                    </a>
                    <a class="btn btn-primary {% if request.path == signup_url %}active{% endif %}" aria-current="page" href="{% url 'account_signup' %}">
                        Register
                    </a>
                </div>
            </div>
            <hr>
        </div>
    
        <!-- Introduction Modal -->
        <div class="modal fade show" id="introductionModal" tabindex="-1" role="dialog" aria-labelledby="introductionModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="text-center">
                            <image src="{% static 'images/dog-logo.webp' %}" alt="Dog" class="img-fluid">
                            <h1>Cityfur - Dog Day Care System</h1>
                            <p>Welcome to the Cityfur - Dog Day Care Management System. Please login or register to access the system.</p>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="welcome-message">          
                            <div>
                                <p>This application is developed for the real world use in a dog day care center in Cologne, Germany.</p>
                                <p>
                                    On a weekday bases, the day care center hosts up to 60 dogs simultaneously and makes sure that all needs of the guests are met.
                                    The application helps with the daily tracking of dogs coming in the morning and leaving in the afternoon. 
                                    It also helps with keeping all relevant information on display. Like times for applying medication or feeding schedules, and pickup by different individuals that are not the owner. 
                                    It also includes a system for daily reports where dogs can be tagged to reports, if the report is about them. 
                                </p>
                
                                <p>With the help of this system, the employees at the facility are always aware of:</p>
                
                                <ul>
                                    <li>Guests present that day</li>
                                    <li>Guests checked-out and how many are still present</li>
                                    <li>Times for applying individual medication</li>
                                    <li>Times for individual feeding schedule</li>
                                    <li>Information about pickup from different individuals</li>
                                    <li>Look of a dog with profile picture</li>
                                    <li>Important information about every dog in an individual profile</li>
                                    <li>Situations that happened and were noted as a report with related dogs tagged</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
                    </div>
                </div>
            </div>
        </div>
    
    {% endif %}


    {% if user.is_authenticated %}
        <!-- Page Structure-->
        <div class="container-fluid row px-0 gx-0">
            <!-- Sidebar left -->
            <div class="col-lg-2 d-none d-lg-block sidebar" id="sidebar-menu">
                <div class="d-lg-none text-center mb-5" id="closeSidebar">
                    <span class="fa-solid fa-xmark fa-lg  icon-width"></span><br>
                    <span>Close Nav</span>
                </div>
                <div class="row justify-content-center">    
                    <nav class="side-nav">
                        <ul class="nav flex-column">                          
                            <li class="primary-nav-item mb-3">
                                <a href="/">
                                    <span class="fa-solid fa-dog fa-lg icon-width"></span>Guests
                                </a>
                                <ul class="nav flex-column">
                                    <li class="secondary-nav-item">
                                        <a href="/guests/all/">All Guests</a>
                                    </li>
                                    <li class="secondary-nav-item">
                                        <a href="/guests/add_guest/">Add Guest</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="primary-nav-item">
                                <a href="/reports/">
                                    <span class="fa-solid fa-pen fa-lg  icon-width"></span>Reports
                                </a>
                                <ul class="nav flex-column">
                                    <li class="secondary-nav-item">
                                        <a href="/reports/all/">All Reports</a>
                                    </li>
                                    <li class="secondary-nav-item">
                                        <a href="/reports/add_report/">Add Report</a>
                                    </li>
                                </ul>
                            </li>

                            {% if user.is_authenticated %}
                                <li class="pt-4">
                                    <a class="{% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">
                                        <span class="fa-solid fa-right-from-bracket fa-lg icon-width"></span>Logout
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
    {% endif %}   

        <div class="col-lg-2"></div>
        <!-- Content right -->
        <div class="col-lg-10 main-content d-flex flex-column">

            <!-- Main -->
            <main class="pb-3">
                {% block content %}
                <!-- Content goes here -->
                {% endblock content %}
            </main>
    
        </div>

</body>

</html>