{% extends "base.html" %}

{% load static %}

{% load i18n %}
{% load account %}

{% block landingpage %}

    {% if user.is_authenticated == False %}

        <!-- Welcome message -->
        <div class="text-center">
            <h1>Cityfur - Dog Day Care Management System...</h1>
            <p>Welcome to the Cityfur - Dog Day Care Management System. Please login or register to access the system.</p>
            <hr>
        </div>
        <div>
            <p>This application is developed for the real world use in a dog day care center in Cologne, Germany.</p>
            <p>
                On a weekday bases, the day care center hosts up to 60 dogs simultaneously and makes sure that all needs of the guests are met.
                The application helps with the daily tracking of dogs coming in the morning and leaving in the afternoon. 
                It also helps with keeping all relevant information on display. Like times for applying medication or feeding schedules, and pickup by different individuals that are not the owner. 
                It also includes a system for daily reports where dogs can be tagged to reports, if the report is about them. 
            </p>

            <p>With the help of this system, the employees at the facility are always aware of:</p>

                <ul>
                    <li>Guests present that day</li>
                    <li>Guests checked-out and how many are still present</li>
                    <li>Times for applying individual medication</li>
                    <li>Times for individual feeding schedule</li>
                    <li>Information about pickup from different individuals</li>
                    <li>Look of a dog with profile picture</li>
                    <li>Important information about every dog in an individual profile</li>
                    <li>Situations that happened and were noted as a report with related dogs tagged</li>
                </ul>

        </div>
        <div class="col-2">
            <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
            <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page" href="{% url 'account_signup' %}">Register</a>
        </div>
    {% endif %}

{% endblock landingpage %}